/* mf-style.css */

/***************************************************** 
 * Red notice on top of unsaved reports 
 *****************************************************/
.mf-notice {
    background-color: red;
    color: white;
    padding: 5px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.mf-notice .mf-headline {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.mf-notice .mf-message {
    font-size: 15px;
    margin: 0;
}

.mf-notice .mf-message a {
    font-weigh: bold;
    text-decoration: underline;
}



/***************************************************** 
 * Tweaks to Dashboard Filters 
 *****************************************************/
/* some gradient when filters are too wide */
#Dashboard-Parameters-And-Cards-Container {
  -webkit-mask-image: linear-gradient(to right, 
    rgba(0, 0, 0, 1) 90%, 
    rgba(0, 0, 0, 0) 95%, 
    rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(to right, 
    rgba(0, 0, 0, 1) 90%, 
    rgba(0, 0, 0, 0) 95%, 
    rgba(0, 0, 0, 0) 100%);
  background: transparent;
}

/* limit vertical size of filter */
#Dashboard-Parameters-And-Cards-Container [data-testid="fixed-width-filters"] {
    max-height: 53px;
    overflow: scroll;
    transition: 0.5s;
}

#Dashboard-Parameters-And-Cards-Container [data-testid="fixed-width-filters"]:hover {
    max-height: 1000px;
    overflow: hidden;
}

/* keep the button on top */
#Dashboard-Parameters-And-Cards-Container [data-testid="fixed-width-filters"] > button {
    position: sticky;
    top: 8px;
}

/* further highlight active filters */
#Dashboard-Parameters-And-Cards-Container fieldset .emotion-8u4vwn {
    background: #FFF;
}
