/* mf-style.css */

/***************************************************** 
 * Red notice on top of unsaved reports 
 *****************************************************/
.mf-notice {
    background-color: red;
    color: white;
    padding: 5px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.mf-notice .mf-headline {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.mf-notice .mf-message {
    font-size: 15px;
    margin: 0;
}

.mf-notice .mf-message a {
    font-weigh: bold;
    text-decoration: underline;
}


/***************************************************** 
 * Markdown Links in Descriptions
 *****************************************************/
a.customer_markdown_links {
    color: #509ee3;
    text-decoration: none;
}
a.customer_markdown_links:hover {
    text-decoration: underline;
}


/***************************************************** 
 * Tweaks to Dashboard Filters 
 *****************************************************/
/* limit vertical size of filter */
/*
#Dashboard-Parameters-And-Cards-Container [data-testid="fixed-width-filters"] {
    overflow: hidden;
    max-height: 55px;
    width: 10000px;
    transition: all 0.5s ease-in-out;
}
#Dashboard-Parameters-And-Cards-Container [data-testid="fixed-width-filters"]:hover,
#Dashboard-Parameters-And-Cards-Container [data-testid="fixed-width-filters"].hovered {
    overflow: scroll;
    max-height: 400px;
    width: auto;
}
.popover.tether-element {
    pointer-events: none;   
}
*/

/* keep the button on top */
/*
#Dashboard-Parameters-And-Cards-Container [data-testid="fixed-width-filters"] > button {
    position: sticky;
    top: 8px;
}
*/

/* further highlight active filters */
/*
#Dashboard-Parameters-And-Cards-Container fieldset.emotion-8u4vwn {
    background: rgb(80 158 227 / 5%);
    order: -1;
}
*/
